.facilities {
    &__list {
        margin-top: 67px;
        display: flex;
        align-items: flex-start;
        .facilities__item {
            max-width: 262px;
            margin: 0 20px;
            img {
                width: 52px;
                height: 52px;
            }
            &-title {
                font-size: 20px;
                line-height: 23px;
                color: $black;
                margin: 39px 0 16px 0;
            }
            &-desc {
                font-size: 16px;
                line-height: 24px;
                color: $color-fusgray;
            }
        }
    }
}