<section class="callback" id="callback">
    <div class="container">
        <h2 class="callback__title">Обратная связь</h2>
        <span class="callback__subtitle">Наши специалисты свяжутся с Вами в любое <br> удобное для Вас время</span>
        <form action="#" class="callback__form form">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <input type="text" class="from__control form__input" name="Ваше имя *" required
                        placeholder="Ваше имя *" pattern="^[А-Яа-яЁё\s]+$" maxlength="100">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <input type="text" class="from__control form__input" name="Телефон *" required
                        placeholder="Телефон *" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
                        maxlength="18" minlength="10">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <input type="email" class="from__control form__input" name="Email *" required placeholder="Email *">
                </div>
            </div>

            <div class="row no-gutters">
                <textarea unselectable="on" class="from__control form__textarea" name="Сообщение"
                    placeholder="Сообщение"></textarea>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <input type="submit" name="submit" value="Отправить" class="btn btn--small btn--small_gray">
                </div>
            </div>
        </form>
    </div>
</section>
<!-- /.callback -->