<section class="dropdown">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-2">
                <nav class="brand__menu">
                    <ul class="brand__list">
                        <li class="mb-4">
                            <a class="brand__link active" data-brand="mitsubishi"><span class="mitsubishi__name brand__name">Mitsubishi</span></a>
                        </li>
                        <li class="mb-4">
                            <a class="brand__link" data-brand="chevrolet"><span class="chevrolet__name brand__name">Chevrolet</span></a>
                        </li>
                        <li class="mb-4">
                            <a class="brand__link" data-brand="jac"><span class="jac__name brand__name">Jac</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-sm-10">
                <div class="row car__models mitsubishi__wrap" id="mitsubishi">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/outlander.png" alt="Outlander">
                                <div class="pl-2">
                                    <div class="car__model-name">Outlander</div>
                                    <div class="car__model-price">Цена от <span>10 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/pajero_sport.png" alt="Pajero Sport">
                                <div class="pl-2">
                                    <div class="car__model-name">Pajero Sport</div>
                                    <div class="car__model-price">Цена от 12 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/pajero.png" alt="Pajero IV">
                                <div class="pl-2">
                                    <div class="car__model-name">Pajero IV</div>
                                    <div class="car__model-price">Цена от 9 600 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6 mt-4">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/asx.png" alt="ASX">
                                <div class="pl-2">
                                    <div class="car__model-name">ASX</div>
                                    <div class="car__model-price">Цена от 8 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6 mt-4">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/eclipse.png" alt="Eclipse">
                                <div class="pl-2">
                                    <div class="car__model-name">Eclipse</div>
                                    <div class="car__model-price">Цена от 8 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6 mt-4">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/l200.png" alt="L200">
                                <div class="pl-2">
                                    <div class="car__model-name">L200</div>
                                    <div class="car__model-price">Цена от 9 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row car__models jac__wrap" id="jac">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/pajero_sport.png" alt="Pajero Sport">
                                <div class="pl-2">
                                    <div class="car__model-name">Pajero Sport</div>
                                    <div class="car__model-price">Цена от 12 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/outlander.png" alt="Outlander">
                                <div class="pl-2">
                                    <div class="car__model-name">Outlander</div>
                                    <div class="car__model-price">Цена от <span>10 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/pajero.png" alt="Pajero IV">
                                <div class="pl-2">
                                    <div class="car__model-name">Pajero IV</div>
                                    <div class="car__model-price">Цена от 9 600 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6 mt-4">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/asx.png" alt="ASX">
                                <div class="pl-2">
                                    <div class="car__model-name">ASX</div>
                                    <div class="car__model-price">Цена от 8 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6 mt-4">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/eclipse.png" alt="Eclipse">
                                <div class="pl-2">
                                    <div class="car__model-name">Eclipse</div>
                                    <div class="car__model-price">Цена от 8 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6 mt-4">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/l200.png" alt="L200">
                                <div class="pl-2">
                                    <div class="car__model-name">L200</div>
                                    <div class="car__model-price">Цена от 9 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row car__models chevrolet__wrap" id="chevrolet">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/pajero.png" alt="Pajero IV">
                                <div class="pl-2">
                                    <div class="car__model-name">Pajero IV</div>
                                    <div class="car__model-price">Цена от 9 600 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/pajero_sport.png" alt="Pajero Sport">
                                <div class="pl-2">
                                    <div class="car__model-name">Pajero Sport</div>
                                    <div class="car__model-price">Цена от 12 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/outlander.png" alt="Outlander">
                                <div class="pl-2">
                                    <div class="car__model-name">Outlander</div>
                                    <div class="car__model-price">Цена от <span>10 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6 mt-4">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/asx.png" alt="ASX">
                                <div class="pl-2">
                                    <div class="car__model-name">ASX</div>
                                    <div class="car__model-price">Цена от 8 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6 mt-4">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/eclipse.png" alt="Eclipse">
                                <div class="pl-2">
                                    <div class="car__model-name">Eclipse</div>
                                    <div class="car__model-price">Цена от 8 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xs-6 mt-4">
                        <a href="#">
                            <div class="car__model">
                                <img src="assets/img/dropdown/l200.png" alt="L200">
                                <div class="pl-2">
                                    <div class="car__model-name">L200</div>
                                    <div class="car__model-price">Цена от 9 000 000 ₸</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.dropdown -->