<footer class="footer">
    <div class="container">
        <div class="row footer__top">
            <div class="col-lg-5 col-md-12">
                <h5 class="footer__title">AllurGroup</h5>
                <p class="footer__text">Группа автомобильных компаний, включающая производственное предприятие ТОО «СарыаркаАвтоПром»,
                    реализацию легковых и коммерческих транспортных средств, постпродажное обслуживание через
                    дистрибьюторскую и дилерскую сеть Allur Auto. </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 offset-lg-1 ">
                <h5 class="footer__title">AllurGroup</h5>
                <ul class="footer__links">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Руководство</a></li>
                    <li><a href="#">Корпоративные события</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">AllurAuto</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h5 class="footer__title">Контакты</h5>
                <ul class="footer__links">
                    <li>
                        <a href="tel:+5588">5588</a>
                    </li>
                    <li>
                        <a href="mailto:info@allurauto.kz">info@allurauto.kz</a>
                    </li>
                    <li>Костанай, ул. Промышленная, 41</li>
                    <li>P01D5B4</li>
                </ul>
            </div>
        </div>
        <div class="row footer__bottom">
            <div class="col-lg-8 col-md-8 col-sm-8 col-10">
                <div class="footer__info">
                    <div class="footer__info-left">
                        <span class="footer__trademark">®</span>
                        <div class="footer__logo">
                            <img src="assets/img/footer-logo.svg" alt="Маленький логотип">
                        </div>
                    </div>
                    <div class="footer__info-right">
                        
                        <span class="footer__copy">
                            © Allur Auto 2020 - Крупнейший автопроизводитель Казахстана
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-9">
                <ul class="footer__socials">
                    <li class="footer__social">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="footer__social">
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="footer__social">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="footer__social">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- /.footer -->