<header class="header">
    <div class="container">
        <nav class="header__navbar">
            <div class="row align-items-center">
                <div class="col-lg-1 col-md-1 col-sm-1 col-2">
                    <a class="header__logo" href="./index.html">
                        <img src="assets/img/logo.svg" alt="Логотип">
                    </a>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-7 position_inh">
                    <ul class="header__menu">
                        <li class="header__item">
                            <a class="header__item-link dropdown__toggle" href="#">
                                Автомобили
                                <i class="fas fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="header__item">
                            <a class="header__item-link" href="#">Новости</a>
                        </li>
                        <li class="header__item">
                            <a class="header__item-link" href="corporate_sales.html">Корпоративные продажи</a>
                        </li>
                        <li class="header__item">
                            <a class="header__item-link" href="about.html">О комании</a>
                        </li>
                        <li class="header__item">
                            <a class="header__item-link" href="#">Allur Group</a>
                        </li>
                        <li class="header__item">
                            <a class="header__item-link" href="#">Гос закупки</a>
                        </li>
                        <li class="header__item">
                            <a class="header__item-link" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-1 col-md-1 col-1 hide-sm">
                    <div class="header__phone">
                        <a href="tel:+5588">
                            <img src="assets/img/phone.svg" alt="Иконка Телефона">
                        </a>
                        <a href="tel:+5588">5588</a>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-2 burg-sm">
                    <div class="header__burgmenu">
                        <span></span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->
